.course-wrapper {
	width: 100%;
	flex-grow: 1;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	padding: 10px 25px;
}

.course-info {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.course-info a {
	color: black;
}

.course-info__title {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 30px;
}

.course-info__description {
	flex-basis: 40%;
	flex-grow: 1;
}

.course-info__info {
	flex-basis: 25%;
}

.course-info__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 250px;
	word-break: break-all;
}

.course-info__info span {
	font-weight: 600;
}
