.course-card {
	padding: 15px;
	display: grid;
	column-gap: 5px;
	grid-template-columns: 1fr minmax(50px, 300px);
	margin-bottom: 10px;
	border: 1px solid black;
}

.course-card__title,
.course-card__description {
	grid-column: 1/2;
}

.course-card__title {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 10px;
}

.course-card__info,
.course-card__btns-wrapper {
	grid-column: 2/3;
}

.course-card__info {
	grid-row: 1/3;
}
.course-card__info p {
	margin-bottom: 8px;
}
.course-card__info span {
	font-weight: 600;
}

.course-card__author {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.course-card__btns-wrapper {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: stretch;
}

.course-card__btn-show {
	display: flex;
	text-decoration: none;
}

.course-card__btn-icon {
	font-size: 20px;
}
